<h1>Post Show Page</h1>
<h3>Title: <%= @post.title %> </h3>

<h3>Content:</h3>
    <p> <%= @post.content %> </p>


<h3>Author: <%= link_to @blogger.name, blogger_path(@blogger) %> </h3>

<h3>Destination: <%= link_to @destination.name, destination_path(@destination) %> </h3>

<h3>Total ❤️ Likes: <%= @post.likes %> </h3>

<%= button_to " ❤️ ", like_path(@post) %>